extends layout

block header
  p Yo!!

block content
  // - Without an element, defaults to a div
  .wrapper
    - const upName = name.toUpperCase();
    p.hello Hello #{name.toUpperCase()}!
    span#yo Yo!!
    img.dog(src="dog.jpg" alt=`Dog ${upName}`)

  h2
    | Hello
    em How are you?
